{% extends 'admin_base.html' %}

{% block content %}

<div class="card shadow">

    <div class="card-header bg-primary text-white">

        <h3>Certificate Details</h3>

    </div>

    <div class="card-body">

        <table class="table table-bordered">

            <tr>
                <th>Student</th>
                <td>{{ certificate.student.name }}</td>
            </tr>

            <tr>
                <th>Course</th>
                <td>{{ certificate.course.name }}</td>
            </tr>

            <tr>
                <th>Certificate Number</th>
                <td>{{ certificate.certificate_number }}</td>
            </tr>

            <tr>
                <th>Issue Date</th>
                <td>{{ certificate.issue_date }}</td>
            </tr>

        </table>

        <a href="{% url 'certificate_management' %}"
           class="btn btn-secondary">

            Back

        </a>

    </div>

</div>

{% endblock %}